body {
  width: 100vw;
  height: 100dvh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #f1f1f1; */
  background-color: #222;
  color: #f1f1f1;
  overflow: hidden;
}

main {
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

div {
  display: flex;
  align-items: center;
}

span {
  font-family: 'Courier New', Courier, monospace;
  font-size: 90px;
  cursor: default;
}

#ampm {
  margin-left: 30px;
}

/* RESPONSIVE DESING */

@media (max-width: 600px) {
  main {
    width: 100%;
    padding: 10px;
  }

  span {
    font-size: 44px;
  }

  #ampm {
    margin-left: 8px;
  }
}